   body {
             width: 100%;
             height: 100%;
             margin: 0;
             padding: 0;
             font: 11pt 'bpg nino mtavruli normal';
         }
         * {
             box-sizing: border-box;
             -moz-box-sizing: border-box;
         }
         .page {
             width: 210mm;
             min-height: 297mm;
             padding: 5mm;
             margin: 0mm auto;
             border: 1px #D3D3D3 solid;
             border-radius: 5px;
             box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
         
         }
         
 
 
         .subpage {
             padding: 0cm;
            /* border: 5px red solid;*/
             height: A4;
             outline: 2cm;
         }
 
         @page {
             size: auto A4 Landscape;
             margin: 0;
         }
         @media print {
             html, body {
                 width: 335mm;
                 height: A4;
             }
             .page {
                 margin: 0;
                 border: initial;
                 border-radius: initial;
                 width: initial;
                 min-height: initial;
                 box-shadow: initial;
                 background: initial;
                 page-break-after: always;
             }
         }